*$py.class
*.cover
*.egg
*.egg*
*.egg-info
*.egg-info/
*.log
*.manifest
*.mo
*.mo
*.pot
*.py[cod]
*.py[cod]
*.sage.py
*.so
*.spec
*~
.*.swp
.*sw?
.Python
.cache
.coverage
.coverage*
.coverage.*
.eggs/
.env
.hypothesis/
.installed.cfg
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.mypy_cache/
.pytest_cache/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox
.tox/
.venv
.venv
.webassets-cache
/site
ChangeLog
ENV/
__pycache__/
bin
build
build/
celerybeat-schedule
cover/
coverage.xml
db.sqlite3
develop-eggs
develop-eggs/
dist
dist/
doc/build
docs/_build/
downloads/
eggs
eggs/
env.bak/
env/
htmlcov/
instance/
lib
lib/
lib64
lib64/
local_settings.py
nosetests.xml
output/*.html
output/*/index.html
parts
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-log.txt
sdist
sdist/
target/
var
var/
venv.bak/
venv/
wheels/
