/* add dollar sign in console code-block */
div.highlight-console pre span.go::before {
  /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;*/
  content: "$";
  margin-right: 10px;
  margin-left: 5px;
}

/* use to demo the class attribute */
.video-bordered {
  border: 0.2em solid red;
}
